.blog
    display: block
    position: relative
    width: 80%
    margin: 0 auto
    padding-top: 11.5vh
    padding-bottom: 13.9vh
    .blog_posts
        display: block
        width: 100%
        font-size: 0
        margin: 0 auto
        .post
            display: inline-block
            width: 30%
            margin-left: 2.08vw
            .post_photo
                display: block
                position: relative
                img
                    width: 100%
                div
                    display: block
                    position: absolute
                    bottom: 8%
                    left: -3%
                    width: 4.16vw
                    height: 9.57vh
                    font-size: 1.38vw
                    color: $white
                    background-color: #95e1d3
                    h4
                        font-family: $font_primary
                        font-size: 2.08vw
                        font-weight: 700
                        color: $white
                        margin: 0.78125vw
                        margin-bottom: 0
                    h5
                        font-family: "Roboto - Light Italic"
                        font-style: italic
                        font-weight: 400
                        font-size: 1.04vw
                        color: $white
                        margin: 0.78125vw
                        margin-top: 0.27vh
                        text-align: center
            h3
                display: block
                width: 100%
                color: $heading_color
                font-family: $font_primary
                font-size: 0.97vw
                font-weight: 400
                text-align: left
                padding: 2.73vh 0
            p
                color: $p_color
                font-family: Roboto
                font-size: 1.04vw
                font-weight: 400
                line-height: 2.56vh
                text-align: left
            hr
                background-color: #e5e5e5
                height: 1px
                border: none
                outline: none
                margin: 2.73vh 0
            div
                display: block
                width: 100%
                p
                    display: inline-block
                    width: 18%
                    img
                        width: 25%
