.counter
    width: 100%
    background-color: $detail_color
    .rows
        display: block
        width: 70%
        margin: 0 auto
        font-size: 0
        div
            display: inline-block
            width: 20%
            font-size: 20px
            border: 1px solid rgba(255, 255, 255, .3)
            padding: 14.45vh 0%
            text-align: center
            p
                display: block
                width: 90%
                margin: 0 auto
                color: $white
                font-family: $font_primary
                font-size: 0.72vw
                font-weight: 400
                span
                    display: block
                    width: 100%
                    font-family: $font_primary
                    font-size: 3.75vw
                    font-weight: 700
                    margin-bottom: 3.20vh
