footer
    display: block
    width: 100%
    background-color: #f8f8f8
    .footer_container
        display: block
        width: 80%
        margin: 0 auto
        padding: 8.88vh 0
        font-size: 0
        .footer_col
            display: inline-block
            width: 30%
            margin-right: 3.33%
            h1
                color: #cccccc
                font-family: Montserrat
                font-size: 46px
                font-weight: 700
                text-align: left
            .content
                color: #999999
                font-family: Roboto
                font-size: 15px
                font-weight: 400
                line-height: 24px
                text-align: left
                padding: 3.71vh 0
            p
                font-family: $font_primary_regular
                font-weight: 400
                color: #333333
                font-size: 14px
                text-align: left

                span
                    font-family: "Montserrat - Bold"
                    font-size: 18px
                    font-weight: 700
            hr
                background-color: #e5e5e5
                height: 1px
                border: none
                outline: none
                margin: 2.28vh 0
            div
                p
                    color: #999999
                    font-family: $font_third
                    font-style: italic
                    font-size: 15px
                    font-weight: 400
                    line-height: 24px
                    text-align: left
                    a
                        margin-left: 10px
            div
                display: table
                div.t
                    display: table-cell
                    width: 100%

                div.t input
                    width: 100%
