.intro
    height: 100vh
    background-image: url("../img/intro_background.jpg")
    background-position: center center
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
    background-color: #464646
.intro nav
    ul
        li
            color: red
            font-size: 60px
            display: inline
            a
                text-decoration: none
                width: auto
                height: auto
                padding: 40px 1px
                padding-bottom: 12px
                color: $white
                font-family: $font_primary
                font-size: 14px
                font-weight: 400
                text-align: center
            a:hover
                color: $btn_hover
                border-bottom: 2px solid $btn_hover
        li:first-child
            display: block
            width: 86px
            height: 23px
            color: $white
            font-family: $font_primary
            font-size: 30px
            font-weight: 700
            text-align: left
            padding-left: 362px
            padding-top: 28px
        li:last-child
            float: right
            margin-right: 358px
.intro header
    display: block
    width: 80%
    margin: 0 auto
    margin-top: 10%
    h4
        display: block
        width: 60%
        margin: 0 auto
        font-family: $font_secondary
        color: $white
        font-size: 72px
        font-weight: 400
        text-align: center
    h6
        display: block
        width: 60%
        margin: 0 auto
        font-family: $font_primary_bold
        color: $white
        font-size: 150px
        font-weight: 700
        text-align: center
        padding: 1% 0
        marting-bottom: 71px
    hr
        display: block
        width: 60px
        height: 3%
        padding: 0.5px 2%
        background-color: $white
        margin-bottom: 50px
    button
        display: block
        margin: 0 auto
        padding: 15px 40px
        background: none
        font-family: $font_primary
        font-size: 14px
        font-weight: 700
        color: $white
        border: 2px solid
    button:hover
        display: block
        margin: 0 auto
        padding: 15px 40px
        background: $white
        font-family: $font_primary
        font-size: 12px
        font-weight: 700
        color: $black
        border: none
        outline: none
.intro div
    display: block
    width: 60%
    margin: 0 auto
    margin-top: 11%
    font-size: 0
    box-sizing: border-box
    button
        display: inline-block
        width: 25%
        padding: 10 10
        background-color: transparent
        color: $white
        text-align: left
        border: none
        outline: none
        p
            font-family: $font_primary_bold
            font-size: 18px
            font-weight: 400
            padding-top: 4%
            color: $white
            opacity: 0.7
            span
                font-family: $font_primary_bold
                font-size: 24px
                font-weight: 700
                opacity: 1
        hr
            display: inline-block
            width: 100%
            height: 3%
            background-color: $white
            border: 1.5px solid $white
            outline: none
            opacity: 0.5
    button:hover
        display: inline-block
        width: 25%
        padding: 10 10
        background-color: transparent
        color: $white
        text-align: left
        border: none
        outline: none
        p
            font-family: $font_primary_bold
            font-size: 18px
            font-weight: 400
            color: $white
            opacity: 0.7
            span
                font-family: $font_primary_bold
                font-size: 24px
                font-weight: 700
                opacity: 1
        hr
            display: inline-block
            width: 30%
            height: 3%
            background-color: $slide_btn_hover
            border: 1.5px solid $slide_btn_hover
            outline: none
            opacity: 1
            transition: width 2s, height 4s
